.home-banner-container {
    width: 100%;
    // height: 100vh;

    .banner-wave {
        position: absolute;

        bottom: -5rem;
        left: 0;
    }

    .top-wave {
        bottom: -0.5rem;
    }

    .banner-products {
        position: relative;

        top: 1rem;

        width: 100%;
        height: 100%;

        transform: translateZ(1px) scale(0.5);

        .banner-slide {
            position: relative;
            width: 100%;

            .slide-wrapper {
                width: 100%;
                height: 100%;

                .prod-img {
                    width: 60%;
                    height: 90%;

                    padding: 0 1.25rem;

                    img {
                        width: 100%;
                        height: 100%;

                        object-fit: contain;
                    }
                }

                .prod-info {
                    width: 40%;

                    flex-direction: column;

                    color: #fff;

                    position: relative;
                    left: -4rem;

                    padding-right: 5rem;

                    .product-name {
                        font-size: 4.5rem;
                        font-weight: 700;
                        line-height: 5.5rem;
                    }

                    .product-description {
                        font-size: 1.5rem;
                        margin: 2rem 0;
                        line-height: 1.8rem;
                        text-align: left;
                    }

                    .prod-cart-btn {
                        width: 100%;

                        display: flex;
                        justify-content: flex-start;

                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.main-banner-container {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .main-banner-bg {
        position: absolute;

        z-index: -1;

        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .main-banner-content {
        position: relative;

        width: 60%;

        margin: 0 auto;

        text-align: center;
        color: white;

        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));

        margin: 1.625rem 0 0;
    }

    .main-banner-content {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;

        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));

        h1,
        h4 {
            position: absolute;
            z-index: 10;
            color: #fff;
            font-weight: 600;
        }

        h1 {
            // top: 17rem;
            font-size: 6rem;
            line-height: 6rem;
        }

        h4 {
            // bottom: 16rem;
            font-size: 1.625rem;
            line-height: 2.1125rem;
        }

        &::before {
            content: "";
            display: block;

            position: absolute;
            top: 10em;

            height: calc(100% - 20em);
            width: calc(100% - 20em);

            border-top: 0.125rem solid rgba(225, 225, 225, 0.2);
            border-left: 0.0625rem solid rgba(225, 225, 225, 0.1);
            border-right: 0.0625rem solid rgba(225, 225, 225, 0.3);

            z-index: 2;
        }

        .banner-glass {
            width: 100%;
            height: 100%;

            clip-path: inset(10rem);
            filter: blur(1.25rem);

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;

                z-index: -1;

                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }

    .top-wave {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 900px) {
    .banner-glass {
        clip-path: inset(5em);
    }
    .main-banner-content::before {
        top: 5em;
        width: calc(100% - 10px);
    }
    .main-banner-content span {
        font-size: 4em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home-banner-container {
        // height: 150vh;

        .banner-products {
            .banner-slide {
                .slide-wrapper {
                    flex-direction: column;

                    .prod-img {
                        width: 100%;
                        height: 60%;

                        padding: 0;
                    }

                    .prod-info {
                        width: 100%;

                        left: 0;

                        padding: 0;

                        .product-description,
                        .product-name {
                            text-align: center;
                        }

                        .product-name {
                            font-size: 3.5rem;
                        }

                        .prod-cart-btn {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .main-banner-content span {
        font-size: 2em;
    }
}
