.menu-page-container {
    position: relative;

    width: 100%;

    background-image: url(../../../../public/images/menu-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .menu-page-wrapper {
        position: relative;

        margin: 0 auto;
        width: 100%;

        .bottom-wave {
            bottom: -6rem;
            z-index: 2;
        }

        .menu-row {
            position: relative;

            display: flex;
            justify-content: space-between;

            padding: 1.5rem 6rem;
        }

        .row1 {
            .menu-prods-item {
                width: 32%;
            }
        }

        .row2 {
            .menu-prods-item {
                width: 24%;
            }
        }

        .row3 {
            .menu-prods-item {
                &:nth-child(1) {
                    width: 40%;
                }

                &:nth-child(2) {
                    width: 60%;
                }
            }
        }
    }
}
