.menu-container {
    position: relative;

    width: 100%;

    z-index: 998;

    .menu-background {
        position: absolute;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    .menu-wrapper {
        position: relative;

        width: 100%;
        height: 100%;

        .menu-content {
            position: relative;
            top: 4rem;

            width: 100%;

            display: flex;

            margin: 0 auto;

            .content-text,
            .content-img {
                position: relative;
                width: 50%;
            }

            .content-text {
                padding: 2rem 4rem;

                .menu-description {
                    font-weight: 600;
                    color: #000;

                    padding: 0 0 0 1rem;
                }

                h2 {
                    font-size: 1.875rem;
                    font-weight: 700;
                    text-align: left;
                    color: black;

                    margin-bottom: 3.125rem;
                }
            }

            .content-img {
                img {
                    position: absolute;

                    right: -4rem;

                    object-fit: cover;
                }
            }
        }

        .menu1 {
            position: relative;

            width: 90%;

            margin: 4rem auto 0 auto;

            background: #fff;

            border-radius: 1.875rem;

            h1 {
                position: relative;

                width: 100%;

                padding: 3rem 0;

                font-size: 3.625rem;
                font-weight: 700;
                text-align: center;
                color: #e84242;
                text-transform: capitalize;
            }
        }

        .menu-limited-prod {
            position: relative;

            width: 95%;
            height: 100vh;

            margin: 0 auto;

            .top-wave {
                bottom: -0.5rem;
            }

            .bottom-wave {
                top: -3rem;
                margin: 0 auto;
            }
        }

        .menu2 {
            position: relative;

            background-color: #f5ecdd;

            color: #121212;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            line-height: 1.8rem;

            margin: 0 auto;
            padding: 3rem 6.25rem;

            width: 95%;

            .col1,
            .col2 {
                position: relative;

                width: 50%;
            }

            .col2 {
                display: flex;
            }
        }

        .menu3 {
            position: relative;

            background-color: #f5ecdd;

            color: #121212;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            line-height: 1.8rem;

            margin: 0 auto;
            padding: 3rem 6.25rem;

            width: 95%;

            .col1,
            .col2 {
                position: relative;
                width: 50%;
            }

            .col1 {
                height: 30rem;
            }
        }
    }
}
