.offer-container {
    position: relative;

    width: 100%;
    height: 100vh;

    background-color: #f5ecdd;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    color: #121212;
    line-height: 1.8rem;

    padding: 4rem 0;

    .top-wave {
        top: -8rem;
    }

    .bottom-wave {
        bottom: -8rem;
    }

    .offer-wrapper {
        width: 80%;

        display: flex;
        flex-wrap: wrap;

        img {
            width: 50%;
            height: 100%;

            object-fit: contain;
        }

        .offer-content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;

            width: 50%;

            text-transform: capitalize;

            padding: 0 1rem;

            h3 {
                font-size: 2.5rem;
                font-weight: 700;
                color: #e84242;
                line-height: 3rem;
            }

            h1 {
                font-size: 5rem;
                font-weight: 700;
                color: #e84242;
                line-height: 5.5rem;
            }

            .offer-prod-price {
                font-size: 2.125rem;
                line-height: 2.8rem;
                color: #000;
                font-weight: 500;

                margin: 1rem 0 1.125rem 0;
            }

            .offer-prod-description {
                position: relative;

                width: 100%;

                display: flex;
                flex-wrap: wrap;

                .offer-item {
                    width: 50%;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    margin-bottom: 1.125rem;

                    p {
                        padding: 0 0.5rem;
                    }

                    .icon {
                        color: red;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .offer-container {
        top: 0;

        height: auto;

        .top-wave {
            top: -4rem;
        }

        .bottom-wave {
            bottom: -4rem;
        }

        .offer-wrapper {
            .offer-content,
            img {
                width: 100%;
            }
        }
    }
}
