@import "../../../../public/styles/index.scss";

.products-wrapper {
    position: relative;

    width: 90%;

    margin: 0 auto;

    padding: 8rem 1.875rem;

    .products-header,
    .products-main {
        position: relative;

        width: 100%;

        display: flex;
        flex-wrap: wrap;
    }

    .products-main {
        justify-content: space-between;
    }

    .products-header {
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .products-wrapper {
        .products-main {
            .prods-cart {
                margin-top: 1rem;

                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .products-wrapper {
        width: 100%;

        .products-main {
            .prods-cart {
                margin-top: 1rem;

                width: 100%;
            }
        }
    }
}
