@import "../../../../public/styles/index.scss";

.products-container {
    position: relative;

    width: 100%;

    background-color: $cream;

    .products-wrapper {
        position: relative;

        width: 90%;

        margin: 0 auto;

        padding: 8rem 1.875rem;

        .products-header,
        .products-main {
            position: relative;

            width: 100%;

            display: flex;
        }

        .products-main {
            justify-content: space-between;
        }

        .products-header {
            justify-content: flex-end;
            align-items: center;
        }
    }
}
