.prods-list-container {
    position: relative;
    width: 70%;

    display: flex;
    flex-wrap: wrap;

    .prod-item-wrapper {
        position: relative;

        width: 30%;
    }

    .prods-list-pagination {
        width: 100%;

        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .prods-list-container {
        width: 100%;

        justify-content: space-between;

        .prod-item-wrapper {
            width: 33%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .prods-list-container {
        width: 100%;

        justify-content: space-between;

        .prod-item-wrapper {
            width: 100%;
        }
    }
}
