.stepper-container {
    width: 100%;

    .stepper-wrapper {
        .inner-step {
            .step-status {
                font-weight: 600;
                text-wrap: wrap;

                &.active {
                    color: #26aa99;
                }
            }
        }
    }
}
