.delivery-step {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    // height: 80vh;

    background-color: #f5ecdd;

    padding: 6rem 0 4rem;

    margin: 0 auto;

    z-index: 999;

    text-align: center;

    h1 {
        font-weight: 700;
        font-size: 3.625rem;
        color: #e84242;
        text-transform: capitalize;

        margin-bottom: 4rem;
    }

    .inner-step {
        width: 20%;

        margin: 0 auto;

        .step-img {
            position: relative;

            width: 100%;

            padding: 0 0 1rem;

            line-height: 1.8rem;

            .step-line {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                color: #e84242;

                font-size: 4rem;

                &:first-child {
                    left: -1rem;
                }

                &:nth-child(3) {
                    right: -1rem;
                }
            }

            img {
                width: 20%;
                height: 20%;

                object-fit: contain;
            }
        }

        .step-content {
            .step-name {
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.375rem;

                padding: 0 0 0.5rem;
            }

            .step-description {
                padding: 1rem 0 0;

                font-weight: 500;
            }
        }
    }

    .bottom-wave,
    .top-wave {
        position: absolute;

        z-index: 2;
    }

    .bottom-wave {
        bottom: -8rem;

        rotate: 180deg;
    }

    .top-wave {
        top: -8rem;
    }
}

.special-offers {
    width: 100%;

    .offer-content {
        position: relative;

        width: 100%;
        height: 100vh;

        .offer-title {
            margin: 6rem 0 4rem 0;

            h1 {
                font-size: 5rem;
                font-weight: 700;
                color: white;
                text-align: center;
                text-transform: capitalize;
            }
        }

        .offers {
            width: 80%;

            margin: 0 auto;

            .offer-item {
                width: 30%;
                height: 39.5rem;

                padding: 0 0.9rem;

                cursor: pointer;

                .offer-item-wrapper {
                    position: relative;

                    height: 100%;
                    width: 100%;

                    padding: 1.8rem;

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    flex-basis: 100%;
                    flex-wrap: wrap;

                    border-radius: 1.875rem;

                    overflow: hidden;

                    &:hover header {
                        color: #e84242;
                        transition: color 0.3s ease-in-out;
                    }

                    &:hover .offer-img {
                        transform: scale(1.1);
                        border-radius: 1.875rem;

                        transition: all 0.3s ease-in-out;
                    }

                    .offer-img {
                        position: absolute;

                        width: 100%;
                        height: 100%;

                        inset: 0;

                        object-fit: cover;
                        border-radius: 1.875rem;

                        transition: all 0.3s ease-in-out;
                    }

                    header {
                        position: relative;
                        top: 0;

                        text-align: center;
                        color: #fff;
                        font-weight: 800;

                        display: flex;
                        flex-direction: column;

                        transition: color 0.3s ease-in-out;

                        span {
                            text-transform: uppercase;
                            font-size: 0.875rem;

                            line-height: 1.2rem;
                        }

                        a {
                            text-transform: capitalize;
                            font-size: 2.5rem;
                            line-height: 3rem;
                        }
                    }

                    .offer-btn {
                        background-color: #ffb300;

                        border-radius: 2rem;

                        font-size: 0.9rem;
                        font-weight: 600;
                        color: #000;
                    }
                }
            }
        }
    }

    .menu {
        position: relative;

        width: 100%;
        height: 100vh;

        background: red;
    }
}
