.combo-wrapper {
    position: relative;

    height: 100vh;
    width: 100%;

    margin: 2rem 0 0 0;

    .menu-products {
        position: relative;

        top: 0rem;

        width: 100%;
        height: 100%;

        .menu-slide {
            width: 100%;

            .slide-wrapper {
                width: 100%;
                height: 100%;
            }
        }
    }
}
