.addresses-container {
    width: 100%;
    height: 100%;

    .address-item {
        display: flex;

        width: 100%;

        padding: 1.125rem 0 1.25rem;

        border-bottom: 0.01rem solid #cccccc;

        .address {
            display: flex;

            width: 50%;

            &:first-child {
                justify-content: flex-start;
            }
        }

        .address-info {
            flex-direction: column;
            justify-content: center;

            .user-info {
                display: flex;
                align-items: center;

                span {
                    &:nth-child(2) {
                        color: #0000008a;
                        font-size: 0.9rem;
                    }
                }
            }

            .address {
                display: flex;
                flex-direction: column;

                span {
                    color: #0000008a;
                    font-size: 0.9rem;
                }
            }
        }

        .address-actions {
            flex-direction: column;
            align-items: flex-end;

            button {
                text-transform: capitalize;
            }

            .set-default {
                border: 0.1rem solid #00000017;
                padding: 0.5rem 0.625rem;
                color: #555;
            }
        }
    }
}
