.mail-container {
    height: 100vh;

    .top-wave {
        bottom: -6rem;
    }

    .mail-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        color: black;
        line-height: 1.8rem;
        text-align: center;
        text-transform: capitalize;

        padding: 0px 1.25rem;

        h3 {
            color: #ffb300;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3rem;

            margin-bottom: 1rem;
        }

        p {
            font-size: 1.375rem;
            line-height: 1.925rem;
            color: #fff;
            font-style: italic;

            margin-bottom: 2rem;
        }

        .input-field {
            label {
                color: white;

                &:focus {
                    color: white;
                }
            }

            .MuiInputBase-root {
                color: white;

                font-weight: 600;

                &.Mui-focused fieldset {
                    border-color: white;
                }

                & input.Mui-focused {
                    color: white;
                }

                input {
                    color: white;
                }

                fieldset {
                    border-color: white;

                    color: white;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .mail-container {
        height: auto;

        .mail-content {
            padding: 5rem 0;
        }
    }
}
