.mail-container {
    .top-wave {
        bottom: -6rem;
    }

    .mail-content {
        color: black;
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 28.8px;
        padding: 0px 20px;
        text-align: center;
        text-transform: capitalize;

        h3 {
            color: #ffb300;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3rem;

            margin-bottom: 1rem;
        }

        p {
            font-size: 1.375rem;
            line-height: 1.925rem;
            color: #fff;
            font-style: italic;

            margin-bottom: 2rem;
        }

        .input-field {
            label {
                color: white;

                &:focus {
                    color: white;
                }
            }

            .MuiInputBase-root {
                color: white;

                font-weight: 600;

                &.Mui-focused fieldset {
                    border-color: white;
                }

                & input.Mui-focused {
                    color: white;
                }

                input {
                    color: white;
                }

                fieldset {
                    border-color: white;

                    color: white;
                }
            }
        }
    }
}
