.prod-container {
    position: relative;

    width: 100%;

    display: flex;

    background-image: url(../../../../../public/images/litmited-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .prod-img {
        position: relative;
        width: 50%;
        height: 100%;

        padding: 10rem;

        img {
            width: 100%;
            height: 50%;

            object-fit: contain;
        }
    }

    .prod-content {
        position: relative;

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .content-wrapper {
            width: 80%;

            text-align: left;

            padding: 0 1rem;

            .prod-name {
                font-size: 3.625rem;
                line-height: 4.2rem;
                color: #fff;
                font-weight: 700;
            }

            .prod-description {
                color: #fff;

                margin: 2rem 0;
            }

            .prod-cart-btn {
                width: 100%;

                display: flex;
                justify-content: flex-start;

                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .prod-container {
        .prod-img {
            padding: 5rem;
        }

        .prod-content {
            .content-wrapper {
                .prod-name {
                    font-size: 2rem;
                    line-height: 2rem;
                }

                .prod-description {
                    margin: 0;
                    font-size: 0.7rem;
                    padding: 1rem 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .prod-container {
        .prod-img {
            padding: 3rem;
        }

        .prod-content {
            .content-wrapper {
                .prod-name {
                    font-size: 0.9rem;
                    line-height: 0rem;
                }

                .prod-description {
                    margin: 0.5rem 0;
                    font-size: 0.7rem;

                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
                    white-space: pre-wrap;
                }
            }
        }
    }
}
