.prod-container {
    position: relative;

    width: 100%;
    height: 100vh;

    display: flex;

    background-image: url(../../../../../public/images/litmited-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .prod-img {
        position: relative;
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 50%;

            object-fit: contain;
        }
    }

    .prod-content {
        position: absolute;

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        right: 0;

        .content-wrapper {
            width: 80%;

            text-align: left;

            padding: 0 1rem;

            .prod-name {
                font-size: 3.625rem;
                line-height: 4.2rem;
                color: #fff;
                font-weight: 700;
            }

            .prod-description {
                color: #fff;

                margin: 2rem 0;
            }

            .prod-cart-btn {
                width: 100%;

                display: flex;
                justify-content: flex-start;

                font-size: 1.5rem;
            }
        }
    }
}
