@import "../../../../public/styles/index.scss";

.cart-container {
    padding: 8rem 0 4rem;

    .cart-wrapper {
        padding: 1.25rem;

        width: 70%;

        background: white;

        margin: 0 auto;

        border-radius: 1.875rem;

        .cart-table {
            margin: 0 0 2rem;

            .cart-header {
                width: 100%;

                background: $light-red;

                border-radius: 3.125rem;

                padding: 1rem;

                display: flex;

                text-transform: capitalize;
                font-weight: 700;
                color: white;

                span {
                    text-align: center;

                    &:first-child {
                        width: 40%;
                    }

                    &:nth-child(2) {
                        width: 30%;
                    }

                    &:nth-child(3) {
                        width: 15%;
                    }

                    &:nth-child(4) {
                        width: 15%;
                    }
                }
            }

            .cart {
                display: flex;
                flex-direction: column;

                .cart-item {
                    position: relative;

                    display: flex;

                    padding: 1rem 0;

                    .cart-col {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:nth-child(5) {
                            width: 15%;
                            padding-right: 2rem;
                        }

                        &:nth-child(2) {
                            width: 40%;
                        }

                        &:nth-child(3) {
                            width: 30%;
                            padding-right: 2rem;
                        }

                        &:nth-child(4) {
                            width: 15%;
                            padding-right: 2rem;
                        }
                    }

                    .item-info {
                        display: flex;
                        justify-content: flex-start;

                        padding: 0 1rem;

                        .item-img {
                            width: 6.25rem;
                            height: 6.25rem;

                            img {
                                width: 100%;
                                height: 100%;

                                object-fit: contain;
                            }
                        }

                        .item-name {
                            padding: 0 1rem;

                            font-weight: 600;
                        }
                    }

                    .item-quantity {
                        p {
                            padding: 0 0.5rem;
                        }
                    }

                    .item-remove {
                        width: 2rem;
                        height: 2rem;

                        margin: auto 0;
                    }
                }
            }
        }

        .cart-total {
            padding: 1rem 2rem;

            .cart-total-header {
                font-size: 1.875rem;
                font-weight: 700;

                margin: 0 0 1.875rem;
                text-transform: capitalize;
            }

            .cart-price {
                .price {
                    display: flex;
                    justify-content: space-between;

                    padding: 1rem 0;

                    p {
                        &:first-child {
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cart-container {
        .cart-wrapper {
            width: 90%;

            .cart-table {
                .cart-header {
                    span {
                        &:first-child {
                            width: 25%;
                        }

                        &:nth-child(2) {
                            width: 25%;
                        }

                        &:nth-child(3) {
                            width: 25%;
                        }

                        &:nth-child(4) {
                            width: 25%;
                        }
                    }
                }

                .cart {
                    .cart-item {
                        .cart-col {
                            &:nth-child(5) {
                                width: 25%;
                            }

                            &:nth-child(2) {
                                width: 25%;

                                @include text-overflow(2);
                            }

                            &:nth-child(3) {
                                width: 25%;
                            }

                            &:nth-child(4) {
                                width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .cart-container {
        .cart-wrapper {
            width: 90%;

            .cart-table {
                .cart-header {
                    display: none;
                }

                .cart {
                    .cart-item {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        margin: 1rem 0;

                        .cart-col {
                            &:nth-child(5) {
                                width: 100%;
                                padding: 0.1rem 0;
                            }

                            &:nth-child(2) {
                                width: 100%;
                            }

                            &:nth-child(3) {
                                width: 100%;
                                padding: 0.1rem 0;
                            }

                            &:nth-child(4) {
                                width: 100%;
                                padding: 0.1rem 0;
                            }
                        }

                        .item-info {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .item-img {
                                width: 100%;
                            }
                        }

                        .item-remove {
                            position: absolute;

                            right: 1.5rem;
                            top: 0rem;
                        }
                    }
                }
            }
        }
    }
}
