@import "../../../../../public/styles/index.scss";

.tabs-container {
    .tab-list-button-wrapper {
        button {
            font-weight: 700;

            &.Mui-selected {
                color: $light-red;
            }
        }

        & .MuiTabs-indicator {
            background-color: red;
        }
    }
}
